{
    "openapi": "3.0.3",
    "servers": [
        {
            "url": "https://api.gitguardian.com"
        }
    ],
    "info": {
        "title": "GitGuardian API (WITH LOCAL FIXES)",
        "version": "1.1.0",
        "termsOfService": "https://www.gitguardian.com/legal-terms",
        "license": {
            "name": "GitGuardian",
            "url": "https://www.gitguardian.com/legal-terms"
        },
        "x-logo": {
            "url": "https://static.gitguardian.com/Logo-blue.png",
            "altText": "GitGuardian"
        },
        "contact": {
            "name": "GitGuardian",
            "email": "support@gitguardian.com",
            "url": "https://www.gitguardian.com"
        },
        "description": "\n# Introduction\n\nWhether you want to build a complete integration with your software development\nworkflow or simply want to test GitGuardian's policy break detection on any text content,\nyou can use our API.\n\n- The base url for the latest version is `api.gitguardian.com/v1` over `HTTPS`.\n- All data is sent and received as JSON by default.\n- All timestamps returned are ISO-8601 compliant, example:\n```python\n2020-03-16T04:46:00+00:00 # for date-time\n```\n\nGitGuardian supported wrappers:\n- Python: [**py-gitguardian**](https://github.com/GitGuardian/py-gitguardian)\n\nGitGuardian provides you with [**GitGuardian Shield**](https://github.com/GitGuardian/gg-shield),\na CLI application that uses the GitGuardian API through py-gitguardian\nto scan your files and detect potential secrets or issues in your code.\n\nThis CLI application can be used in many CIs (such as GitHub Actions, GitLab Pipelines, CircleCI,...)\nor as a pre-commit or pre-receive hook.\n\n# Authentication\n\nThe GitGuardian API uses API keys to authenticate requests.\n\nYou need to [create an account](https://dashboard.gitguardian.com/auth/signup) before getting started\nin order to get an API key.\n\nYour API key can be created and revoked from the\n[API section of your dashboard](https://dashboard.gitguardian.com/api).\n\nYour API key must kept private and should neither be embedded directly in the code nor versioned in Git.\n(Please do not push GitGuardian's API keys to public GitHub repositories ^^).\n\nBeware your API keys can expire and can be revoked.\n\nUse [/v1/health](#operation/health_check) to check the\nvalidity of your token if needed.\n\n```bash\ncurl -H \"Authorization: Token ${TOKEN}\" \\\n  https://api.gitguardian.com/v1/health\n```\n"
    },
    "tags": [
        {
            "name": "API Tokens",
            "description": "Manage API tokens.\n"
        },
        {
            "name": "Secret Incidents",
            "description": "Manage incidents found by post-receive hooks on your GitGuardian Dashboard.\n"
        },
        {
            "name": "Secret Occurrences",
            "description": "Manage occurrences found by post-receive hooks on your GitGuardian Dashboard.\n"
        },
        {
            "name": "Secret Incident Notes",
            "description": "Manage notes on incidents found by post-receive hooks on your GitGuardian Dashboard.\n"
        },
        {
            "name": "Secret Detectors",
            "description": "Retrieve details on detectors used for secret detection.\n"
        },
        {
            "name": "Invitations",
            "description": "Manage workspace invitations.\n"
        },
        {
            "name": "Sources",
            "description": "Retrieve details on sources monitored by GitGuardian.\n"
        },
        {
            "name": "Members",
            "description": "Retrieve details about workspace members.\n"
        },
        {
            "name": "Scan Methods",
            "description": "Use GitGuardian's brain at your leisure.\n\nScanning API allows you to scan any content you want using GitGuardian's secrets detection algorithms.\n"
        },
        {
            "name": "Quota",
            "description": "Retrieve details about quota usage.\n"
        },
        {
            "name": "IaC scan methods",
            "description": "Scanning a directory for Infrastructure as Code (IaC) vulnerabilities allows\nyou to enhance security in your project configuration.\n"
        },
        {
            "name": "Audit logs",
            "description": "List of audit logs of the workspace.\n"
        },
        {
            "name": "Status",
            "description": "Check the status of the API and the overall system health.\n"
        },
        {
            "name": "Teams",
            "description": "Manage teams.\n"
        },
        {
            "name": "Team Invitations",
            "description": "Manage team invitations.\n"
        },
        {
            "name": "Team Memberships",
            "description": "Add or remove members from teams, or update their permissions.\n"
        },
        {
            "name": "Honeytokens",
            "description": "Manage honeytokens.\n"
        },
        {
            "name": "SCA",
            "description": "Software Composition Analysis\n"
        },
        {
            "name": "Honeytoken Notes",
            "description": "Manage notes on honeytokens.\n"
        },
        {
            "name": "Honeytokens Events",
            "description": "Manage events on honeytokens.\n"
        },
        {
            "name": "Honeytoken Sources",
            "description": "Manage sources on honeytokens.\n"
        },
        {
            "name": "Labels",
            "description": "Manage labels for honeytokens. Labels provide a flexible way to organize honeytokens. You can create your own labels in the form of keys and values, assign them to honeytokens, and use them to filter and search for honeytokens based on specific characteristics.\n"
        }
    ],
    "x-tagGroups": [
        {
            "name": "Tokens management",
            "tags": [
                "API Tokens"
            ]
        },
        {
            "name": "Incidents Management",
            "tags": [
                "Secret Incidents",
                "Secret Occurrences",
                "Secret Incident Notes"
            ]
        },
        {
            "name": "Honeytokens Management",
            "tags": [
                "Honeytokens",
                "Honeytokens Events",
                "Honeytoken Notes",
                "Honeytoken Sources",
                "Labels"
            ]
        },
        {
            "name": "Perimeter Management",
            "tags": [
                "Sources"
            ]
        },
        {
            "name": "User Management",
            "tags": [
                "Members",
                "Invitations"
            ]
        },
        {
            "name": "Secrets Scanning",
            "tags": [
                "Scan Methods",
                "Secret Detectors",
                "Quota"
            ]
        },
        {
            "name": "SCA",
            "tags": [
                "SCA"
            ]
        },
        {
            "name": "IaC Scanning",
            "tags": [
                "IaC Scan Methods"
            ]
        },
        {
            "name": "Team Management",
            "tags": [
                "Teams",
                "Team Invitations",
                "Team Memberships",
                "Team Requests",
                "Team Sources"
            ]
        },
        {
            "name": "Audit Logs",
            "tags": [
                "Audit Logs"
            ]
        },
        {
            "name": "Other",
            "tags": [
                "Status"
            ]
        }
    ],
    "paths": {
        "/v1/api_tokens/self": {
            "get": {
                "tags": [
                    "API Tokens"
                ],
                "operationId": "self-retrieve-api-token",
                "summary": "Retrieve details of the current API token.",
                "responses": {
                    "200": {
                        "description": "Current token details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiTokenDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            },
            "delete": {
                "tags": [
                    "API Tokens"
                ],
                "operationId": "self-delete-api-token",
                "summary": "Revoke the current API token.",
                "responses": {
                    "204": {
                        "description": "Token revocation confirmation"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            }
        },
        "/v1/api_tokens": {
            "get": {
                "tags": [
                    "API Tokens"
                ],
                "operationId": "list-api-tokens",
                "summary": "List API tokens.",
                "description": "List all the tokens in the workspace, some filters are available and described \nbelow.\n",
                "security": [
                    {
                        "APIKey": [
                            "api_tokens:read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/APITokenStatusEnum"
                                }
                            ],
                            "description": "Status of the token."
                        }
                    },
                    {
                        "name": "member_id",
                        "in": "query",
                        "description": "Filter by member id.",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "creator_id",
                        "in": "query",
                        "description": "Filter by creator id.",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "scopes",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Tokens with one of the following scopes.",
                            "example": "incidents:read,api_tokens:read",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/APITokenScopeEnum"
                                }
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Search tokens based on their name."
                        }
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Sort the results by their field value. The default sort is ASC, DESC if the\nfield is preceded by a '-'.\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created_at",
                                "-created_at",
                                "last_used_at",
                                "-last_used_at",
                                "expire_at",
                                "-expire_at",
                                "revoked_at",
                                "-revoked_at"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "API tokens list",
                        "headers": {
                            "Link": {
                                "schema": {
                                    "type": "string",
                                    "description": "Links toward the previous and next pages if they exist"
                                }
                            },
                            "X-Per-Page": {
                                "$ref": "#/components/headers/xPerPage"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/apiTokenDetails"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            }
        },
        "/v1/api_tokens/{token_id}": {
            "get": {
                "tags": [
                    "API Tokens"
                ],
                "operationId": "retrieve-api-token",
                "summary": "Retrieve details of an API token.",
                "security": [
                    {
                        "APIKey": [
                            "api_tokens:read"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "token_id",
                        "in": "path",
                        "required": true,
                        "description": "Id of the token.",
                        "schema": {
                            "type": "string",
                            "example": "5ddaad0c-5a0c-4674-beb5-1cd198d13360"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Current token details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiTokenDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "API token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "API Tokens"
                ],
                "operationId": "delete-api-token",
                "summary": "Revoke an an API token.",
                "security": [
                    {
                        "APIKey": [
                            "api_tokens:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "token_id",
                        "in": "path",
                        "required": true,
                        "description": "Id of the token.",
                        "schema": {
                            "type": "string",
                            "example": "5ddaad0c-5a0c-4674-beb5-1cd198d13360"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Token revocation confirmation"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "API token not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/jwt": {
            "post": {
                "tags": [
                    "API Tokens"
                ],
                "operationId": "public-jwt-create",
                "summary": "Create a JSON Web Token.",
                "description": "Create a short lived JWT for authentication to specific GitGuardian services,\nincluding HasMySecretLeaked.\n",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "audience"
                                ],
                                "properties": {
                                    "audience": {
                                        "type": "string",
                                        "description": "Audience of the JWT.",
                                        "example": "https://api.hasmysecretleaked.com"
                                    },
                                    "audience_type": {
                                        "type": "string",
                                        "description": "Type of audience.",
                                        "example": "hmsl"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created JWT",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "description": "JWT",
                                            "example": "eyJhbGciOiJS[...]"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    }
                }
            }
        },
        "/v1/incidents/secrets": {
            "get": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "list-incidents",
                "summary": "List secret incidents",
                "description": "List secret incidents detected by the GitGuardian dashboard.\nOccurrences are not returned in this route.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/date_before"
                    },
                    {
                        "$ref": "#/components/parameters/date_after"
                    },
                    {
                        "name": "assignee_email",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Incidents assigned to this email.",
                            "example": "eric@gitguardian.com"
                        }
                    },
                    {
                        "name": "assignee_id",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "description": "Incidents assigned to this user id.",
                            "example": 4932
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/StatusEnum"
                                }
                            ],
                            "description": "Incidents with the following status."
                        }
                    },
                    {
                        "name": "severity",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SeverityEnum"
                                }
                            ],
                            "description": "Filter incidents by severity."
                        }
                    },
                    {
                        "name": "validity",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/ValidityEnum"
                                }
                            ],
                            "description": "Secrets with the following validity."
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Incidents with one of the following tags. Use `NONE` if you want to filter incidents with no tags.",
                            "example": "FROM_HISTORICAL_SCAN,SENSITIVE_FILE",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/TagFilterEnum"
                                }
                            ]
                        }
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Sort the results by their field value. The default sort is ASC, DESC if the\nfield is preceded by a '-'.\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "date",
                                "-date",
                                "resolved_at",
                                "-resolved_at",
                                "ignored_at",
                                "-ignored_at"
                            ]
                        }
                    },
                    {
                        "name": "detector_group_name",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Incidents belonging to the specified detector group.",
                            "example": "slackbot_token"
                        }
                    },
                    {
                        "name": "ignorer_id",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "description": "Incidents ignored by this user id.",
                            "example": 4932
                        }
                    },
                    {
                        "name": "ignorer_api_token_id",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Incidents ignored by this API token id.",
                            "example": "fdf075f9-1662-4cf1-9171-af50568158a8"
                        }
                    },
                    {
                        "name": "resolver_id",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "description": "Incidents resolved by this user id.",
                            "example": 4932
                        }
                    },
                    {
                        "name": "resolver_api_token_id",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Incidents resolved by this API token id.",
                            "example": "fdf075f9-1662-4cf1-9171-af50568158a8"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Secret Incident List",
                        "headers": {
                            "Link": {
                                "schema": {
                                    "type": "string",
                                    "description": "Links toward the previous and next pages if they exist",
                                    "example": "<http://api.gitguardian.com/v1/incidents/secrets?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/incidents/secrets?cursor=cD0xNTA%3D>; rel=\"prev\""
                                }
                            },
                            "X-Per-Page": {
                                "$ref": "#/components/headers/xPerPage"
                            },
                            "X-Next-Page": {
                                "$ref": "#/components/headers/xNextPage"
                            },
                            "X-Page": {
                                "$ref": "#/components/headers/xPage"
                            },
                            "X-Prev-Page": {
                                "$ref": "#/components/headers/xPrevPage"
                            },
                            "X-Total": {
                                "$ref": "#/components/headers/xTotal"
                            },
                            "X-Total-Pages": {
                                "$ref": "#/components/headers/xTotalPages"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/incidentWithoutOccurrences"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:read"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}": {
            "get": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "retrieve-incidents",
                "summary": "Retrieve a secret incident",
                "description": "Retrieve secret incident detected by the GitGuardian dashboard with\nits occurrences.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    },
                    {
                        "name": "with_occurrences",
                        "in": "query",
                        "description": "Retrieve a number of occurrences of this incident.",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "minimum": 0,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Secret Incident Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/incident"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:read"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "update-secret-incident",
                "summary": "Update a secret incident",
                "description": "Update a secret incident\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/incidentWithoutOccurrences"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Secret Incident Details without occurrences.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/incidentWithoutOccurrences"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:write"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/leaks": {
            "get": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "retrieve-incidents-leaks",
                "summary": "Retrieve where a secret has been publicly leaked",
                "description": "Retrieve where a secret has been publicly leaked.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of the leaks of the incident",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "source": {
                                                "type": "string",
                                                "example": "github, github_issue, github_gist, unknown"
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "GitGuardian / ggshield"
                                            },
                                            "url": {
                                                "type": "string",
                                                "example": "https://github.com/GitGuardian/ggshield/blob/1f8cd3497aa9acabaafb1851039be2c63448c2f9/README.md?plain=1#L5"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Incident not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:read"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/assign": {
            "post": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "assign-incident",
                "summary": "Assign a secret incident",
                "description": "Assign secret incident detected by the GitGuardian dashboard to a workspace member\nby email.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "Assignee Request",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "eric@gitguardian.com",
                                        "description": "email of the member to assign. This parameter is mutually exclusive with `member_id`.\n"
                                    },
                                    "member_id": {
                                        "type": "number",
                                        "example": 4295,
                                        "description": "id of the member to assign. This parameter is mutually exclusive with `email`.\n"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Secret Incident Details without occurrences.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/incidentWithoutOccurrences"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:write"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/unassign": {
            "post": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "unassign-incident",
                "summary": "Unassign a secret incident",
                "description": "Unassign secret incident from a workspace member by email.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Secret Incident Details without occurrences.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/incidentWithoutOccurrences"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:write"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/resolve": {
            "post": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "resolve-incident",
                "summary": "Resolve a secret incident",
                "description": "Resolve a secret incident detected by the GitGuardian dashboard.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "Resolve Request",
                                "required": [
                                    "secret_revoked"
                                ],
                                "properties": {
                                    "secret_revoked": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Secret Incident Details without occurrences.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/incidentWithoutOccurrences"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:write"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/ignore": {
            "post": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "ignore-incident",
                "summary": "Ignore a secret incident",
                "description": "Ignore a secret incident detected by the GitGuardian dashboard.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "Ignore Request",
                                "required": [
                                    "ignore_reason"
                                ],
                                "properties": {
                                    "ignore_reason": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/SecretStatusEnum"
                                            }
                                        ],
                                        "example": "low_risk"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Secret Incident Details without occurrences.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/incidentWithoutOccurrences"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:write"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/reopen": {
            "post": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "reopen-incident",
                "summary": "Reopen a secret incident",
                "description": "Unresolve or unignore a secret incident detected by the GitGuardian dashboard.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Secret Incident Details without occurrences.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/incidentWithoutOccurrences"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:write"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/share": {
            "post": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "share-incident",
                "summary": "Share a secret incident",
                "description": "Share a secret incident by creating a public link.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "Incident Share Request",
                                "properties": {
                                    "auto_healing": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": false,
                                        "description": "Allow the developer to resolve or ignore through the share link"
                                    },
                                    "feedback_collection": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true,
                                        "description": "Allow the developer to submit their feedback through the share link"
                                    },
                                    "lifespan": {
                                        "type": "integer",
                                        "example": 720,
                                        "default": 0,
                                        "minimum": 0,
                                        "description": "Lifespan, in hours, of the share link. If 0 or unset, a default value will be applied based on the workspace settings."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Incident Sharing Details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/incidentToken"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:share"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/unshare": {
            "post": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "unshare-incident",
                "summary": "Unshare a secret incident",
                "description": "Unshare a secret incident by revoking its public link.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The public link was revoked successfully."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:share"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/grant_access": {
            "post": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "grant-access-incident",
                "summary": "Grant access to a secret incident",
                "description": "Grant a user, an existing invitee or a team access to a secret incident.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "Grant Access Request",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "Email address of a user or invitee. This parameter is mutually exclusive\nwith `member_id`, `invitation_id` and `team_id`.\n"
                                    },
                                    "member_id": {
                                        "type": "number",
                                        "description": "Id of a member. This parameter is mutually exclusive with `email`,\n`invitation_id` and `team_id`.\n"
                                    },
                                    "invitation_id": {
                                        "type": "number",
                                        "description": "Id of an invitation. This parameter is mutually exclusive with `email`,\n`member_id` and `team_id`.\n"
                                    },
                                    "team_id": {
                                        "type": "number",
                                        "description": "Id of a team, except for the global team. This parameter is mutually\nexclusive with `email`, `member_id` and `invitation_id`.\n"
                                    },
                                    "incident_permission": {
                                        "type": "string",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/IncidentPermissionEnum"
                                            }
                                        ]
                                    }
                                },
                                "example": {
                                    "member_id": 1492,
                                    "incident_permission": "can_edit"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "The access was granted successfully."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionDeniedError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:share"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/revoke_access": {
            "post": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "revoke-access-incident",
                "summary": "Revoke access to a secret incident",
                "description": "Revoke access of a user, an existing invitee or a team to a secret incident.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "Grant Access Request",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "Email address of a user or invitee. This parameter is mutually exclusive\nwith `member_id`, `invitation_id` and `team_id`.\n"
                                    },
                                    "member_id": {
                                        "type": "number",
                                        "description": "Id of a member. This parameter is mutually exclusive with `email`,\n`invitation_id` and `team_id`.\n"
                                    },
                                    "invitation_id": {
                                        "type": "number",
                                        "description": "Id of an invitation. This parameter is mutually exclusive with `email`,\n`member_id` and `team_id`.\n"
                                    },
                                    "team_id": {
                                        "type": "number",
                                        "description": "Id of a team, except for the global team. This parameter is mutually\nexclusive with `email`, `member_id` and `invitation_id`.\n"
                                    }
                                },
                                "example": {
                                    "member_id": 1492
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "The access was revoked successfully."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionDeniedError"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:share"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/notes": {
            "get": {
                "tags": [
                    "Secret Incident Notes"
                ],
                "operationId": "list-incident-notes",
                "summary": "List notes on a secret incident",
                "description": "List notes left on a secret incident in chronological order.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Sort the results by their field value. The default sort is ASC, DESC if the\nfield is preceded by a '-'.\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created_at",
                                "-created_at",
                                "updated_at",
                                "-updated_at"
                            ]
                        }
                    },
                    {
                        "name": "member_id",
                        "in": "query",
                        "description": "Filter by member id.",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Search notes based on the comment field content.",
                            "example": "I revoked this"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Incident Note List",
                        "headers": {
                            "Link": {
                                "schema": {
                                    "type": "string",
                                    "description": "Links toward the previous and next pages if they exist",
                                    "example": "<http://api.gitguardian.com/v1/incidents/secrets/1/notes?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/incidents/secrets/1/notes?cursor=cD0xNTA%3D>; rel=\"prev\""
                                }
                            },
                            "X-Per-Page": {
                                "$ref": "#/components/headers/xPerPage"
                            },
                            "X-Next-Page": {
                                "$ref": "#/components/headers/xNextPage"
                            },
                            "X-Page": {
                                "$ref": "#/components/headers/xPage"
                            },
                            "X-Prev-Page": {
                                "$ref": "#/components/headers/xPrevPage"
                            },
                            "X-Total": {
                                "$ref": "#/components/headers/xTotal"
                            },
                            "X-Total-Pages": {
                                "$ref": "#/components/headers/xTotalPages"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/incidentNote"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Secret Incident not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Secret Incident Notes"
                ],
                "operationId": "create-incident-note",
                "summary": "Create a secret incident note",
                "description": "Add a note on a secret incident.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "Incident Note Request",
                                "properties": {
                                    "comment": {
                                        "type": "string",
                                        "example": "I revoked this secret",
                                        "description": "Content of the incident note"
                                    }
                                },
                                "required": [
                                    "comment"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The note was created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/incidentNote"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Secret Incident not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:write"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/notes/{note_id}": {
            "patch": {
                "tags": [
                    "Secret Incident Notes"
                ],
                "operationId": "update-incident-note",
                "summary": "Update a secret incident note",
                "description": "Update an existing comment on a secret incident. Only incident notes\ncreated by the current API key can be updated.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    },
                    {
                        "name": "note_id",
                        "in": "path",
                        "required": true,
                        "description": "The id of the incident note to update",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "Incident Note Request",
                                "properties": {
                                    "comment": {
                                        "type": "string",
                                        "example": "I revoked this secret",
                                        "description": "Content of the incident note"
                                    }
                                },
                                "required": [
                                    "comment"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The note was updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/incidentNote"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "description": "You cannot update an Incident Note you that was not created by\nthe current API key.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Secret Incident or Incident Note not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:write"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Secret Incident Notes"
                ],
                "operationId": "delete-incident-note",
                "summary": "Delete a secret incident note",
                "description": "Delete an existing comment on a secret incident. Only incident notes\ncreated by the current API key can be deleted.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    },
                    {
                        "name": "note_id",
                        "in": "path",
                        "required": true,
                        "description": "The id of the incident note to delete",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The note was deleted successfully."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "description": "You cannot delete an Incident Note you that was not created by\nthe current API key.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Secret Incident or Incident Note not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:write"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/members": {
            "get": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "list-incident-members",
                "summary": "List members having access to a secret incident",
                "description": "List all the members having access to a secret incident.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "name": "member_id",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "description": "filter on a specific member id.",
                            "example": 1234
                        }
                    },
                    {
                        "name": "incident_permission",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/IncidentPermissionEnum"
                                }
                            ],
                            "example": "can_view"
                        }
                    },
                    {
                        "name": "role",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/MemberRoleEnum"
                                }
                            ],
                            "description": "Filter members based on their role.",
                            "deprecated": true
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Search members based on their name or email.",
                            "deprecated": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of members",
                        "headers": {
                            "Link": {
                                "schema": {
                                    "type": "string",
                                    "description": "Links toward the previous and next pages if they exist",
                                    "example": "<http://api.gitguardian.com/v1/incidents/secrets/1/members?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/incidents/secrets/1/members?cursor=cD0xNTA%3D>; rel=\"prev\""
                                }
                            },
                            "X-Per-Page": {
                                "$ref": "#/components/headers/xPerPage"
                            },
                            "X-Next-Page": {
                                "$ref": "#/components/headers/xNextPage"
                            },
                            "X-Page": {
                                "$ref": "#/components/headers/xPage"
                            },
                            "X-Prev-Page": {
                                "$ref": "#/components/headers/xPrevPage"
                            },
                            "X-Total": {
                                "$ref": "#/components/headers/xTotal"
                            },
                            "X-Total-Pages": {
                                "$ref": "#/components/headers/xTotalPages"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/incidentMember"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Secret Incident not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:read",
                            "members:read"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/teams": {
            "get": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "list-incident-teams",
                "summary": "List teams having access to a secret incident",
                "description": "List all the teams having access to a secret incident.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "name": "team_id",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "description": "filter on a specific team id.",
                            "example": 1234
                        }
                    },
                    {
                        "name": "incident_permission",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/IncidentPermissionEnum"
                                }
                            ],
                            "example": "can_view"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of team accesses",
                        "headers": {
                            "Link": {
                                "schema": {
                                    "type": "string",
                                    "description": "Links toward the previous and next pages if they exist",
                                    "example": "<http://api.gitguardian.com/v1/incidents/secrets/1/teams?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/incidents/secrets/1/teams?cursor=cD0xNTA%3D>; rel=\"prev\""
                                }
                            },
                            "X-Per-Page": {
                                "$ref": "#/components/headers/xPerPage"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/incidentTeam"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionDeniedError"
                    },
                    "404": {
                        "description": "Secret Incident not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:read",
                            "teams:read"
                        ]
                    }
                ]
            }
        },
        "/v1/incidents/secrets/{incident_id}/invitations": {
            "get": {
                "tags": [
                    "Secret Incidents"
                ],
                "operationId": "list-incident-invitations",
                "summary": "List invitations having access to a Secret Incident",
                "description": "List all the invitations having access to a Secret Incident.\n",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/incident_id"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "name": "invitation_id",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "description": "filter on a specific invitation id.",
                            "example": 1234
                        }
                    },
                    {
                        "name": "incident_permission",
                        "in": "query",
                        "description": "filter accesses with a specific permission.",
                        "schema": {
                            "type": "string",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/IncidentPermissionEnum"
                                }
                            ],
                            "example": "can_view"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of invitation accesses",
                        "headers": {
                            "Link": {
                                "schema": {
                                    "type": "string",
                                    "description": "Links toward the previous and next pages if they exist",
                                    "example": "<http://api.gitguardian.com/v1/incidents/secrets/1/invitations?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/incidents/secrets/1/invitations?cursor=cD0xNTA%3D>; rel=\"prev\""
                                }
                            },
                            "X-Per-Page": {
                                "$ref": "#/components/headers/xPerPage"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/incidentInvitation"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/PermissionDeniedError"
                    },
                    "404": {
                        "description": "Secret Incident not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:read",
                            "members:read"
                        ]
                    }
                ]
            }
        },
        "/v1/occurrences/secrets": {
            "get": {
                "tags": [
                    "Secret Occurrences"
                ],
                "operationId": "list-occs",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/date_before"
                    },
                    {
                        "$ref": "#/components/parameters/date_after"
                    },
                    {
                        "name": "source_id",
                        "in": "query",
                        "description": "Filter on the source ID.",
                        "schema": {
                            "type": "integer",
                            "example": 5523
                        }
                    },
                    {
                        "name": "source_name",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Entries matching this source name search.",
                            "example": "gitguardian/test-repository"
                        }
                    },
                    {
                        "name": "source_type",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Filter by integration type.",
                            "example": "github",
                            "enum": [
                                "bitbucket",
                                "github",
                                "gitlab",
                                "azure_devops",
                                "slack"
                            ]
                        }
                    },
                    {
                        "name": "incident_id",
                        "in": "query",
                        "description": "Filter by incident ID.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "presence",
                        "in": "query",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/PresenceEnum"
                                }
                            ],
                            "description": "Entries that have the following presence status."
                        }
                    },
                    {
                        "name": "author_name",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Entries matching this author name search.",
                            "minLength": 3,
                            "example": "John Doe"
                        }
                    },
                    {
                        "name": "author_info",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Entries matching this author email search.",
                            "minLength": 3,
                            "example": "john.doe@gitguardian.com"
                        }
                    },
                    {
                        "name": "sha",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Entries starting with the commit sha search string.",
                            "minLength": 3,
                            "example": "fccebf0562698ab99dc10dcb2e864fc563b25ac4"
                        }
                    },
                    {
                        "name": "filepath",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Entries matching this filepath search.",
                            "minLength": 3,
                            "example": "myfile.txt"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Occurrences with one of the following tags. Use `NONE` if you want to filter occurrences with no tags.",
                            "example": "FROM_HISTORICAL_SCAN,SENSITIVE_FILE",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/TagFilterEnum"
                                }
                            ]
                        }
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Sort the results by their field value. The default sort is ASC, DESC if the\nfield is preceded by a '-'.\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "date",
                                "-date"
                            ]
                        }
                    }
                ],
                "summary": "List secret occurrences",
                "description": "List occurrences of secrets in the monitored perimeter.\n",
                "responses": {
                    "200": {
                        "description": "List occurrences",
                        "headers": {
                            "Link": {
                                "schema": {
                                    "type": "string",
                                    "description": "Links toward the previous and next pages if they exist",
                                    "example": "<http://api.gitguardian.com/v1/occurrences/secrets?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/occurrences/secrets?cursor=cD0xNTA%3D>; rel=\"prev\""
                                }
                            },
                            "X-Per-Page": {
                                "$ref": "#/components/headers/xPerPage"
                            },
                            "X-Next-Page": {
                                "$ref": "#/components/headers/xNextPage"
                            },
                            "X-Page": {
                                "$ref": "#/components/headers/xPage"
                            },
                            "X-Prev-Page": {
                                "$ref": "#/components/headers/xPrevPage"
                            },
                            "X-Total": {
                                "$ref": "#/components/headers/xTotal"
                            },
                            "X-Total-Pages": {
                                "$ref": "#/components/headers/xTotalPages"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/vcsOccurrence"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MaintenanceResponse"
                    }
                },
                "security": [
                    {
                        "APIKey": [
                            "incidents:read"
                        ]
                    }
                ]
            }
        },
        "/v1/invitations": {
            "get": {
                "tags": [
                    "Invitations"
                ],
                "operationId": "list-invitations",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "Search invitations based on the email field."
                        }
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Sort the results by their field value. The default sort is ASC, DESC if the\nfield is preceded by a '-'.\n",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "date",
                                "-date"
                            ]
                        }
                    }
                ],
                "summary": "List invitations",
[...]
